<div class="panel panel-default">
  <div class="panel-heading" style="color:rgb(184, 77, 69)">
    <%= comment.user.name %> <span style="color:darkgrey"> • <%= time_ago_in_words(comment.created_at).gsub('about','') + ' ago' %></span>
    <% if user_signed_in? && ( (current_user.id ==  comment.user.id) || ( current_user.id == @post.user.id) )  %>
    <div style="float:right">
      <%= link_to [comment.post, comment], method: :delete, data: { confirm: 'Delete comment?' } do %>
          <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="panel-body"><%= comment.body %></div>
</div>
